.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding: 2rem;
}

.card {
  max-width: 350px;
  /* margin: 30px; */
  width: 100%;
  padding: 1.5rem;
  background-color: #edb5a3;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.824);
  text-align: center;
  font-family: sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info {
  font-size: 1.3rem;
  color: #333;
  margin: 0.5rem 0;
}

.status {
  color: dimgrey;
  font-size: 1.1rem;
}

.buttonGroup {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.6rem 1.2rem;
  background-color: #343d51;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #5f5b8e;
}

.actions {
  margin-top: 1.5rem;
}

.deleteButton {
  background-color: #a31e2c;
}

.deleteButton:hover {
  background-color: #b85660;
}
.link {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  background-color: #0f5197;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: white;
  background-color: #4375ab;
}
