.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.landing {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(181, 149, 120);
  opacity: 0.8;
  border-radius: 4px;
  font-weight: 700;
  background-color: rgb(254, 249, 243);
  padding: 2rem;
}

.landing h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  text-align: center;
  font-weight: 700;
}

.landing p {
  display: flex;
  color: darkslategray;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: center;
}

@media (max-width: 650px) {
  .landing {
    padding: 1rem;
    width: 90%;
  }
}
