.snoozeNotice {
  margin: 1rem;
  font-size: 1.1rem;
  color: #dd7e5e;
  font-weight: bold;
  text-align: center;
  background-color: #fff5f6;
  border: #333;
  padding: 15px;
  border-radius: 5px;
}

.cancelButton {
  margin-top: 0.5rem;
  /* padding: 6px 12px; */
  font-size: 1.1rem;
  background-color: #31364d;
  border: 1px solid #cc5e49;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
}

.cancelButton:hover {
  background-color: #ffd2c9;
  color: #31364d;
}
