.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 1rem 2rem;
  padding-left: 0;
  padding-right: 5px;
  align-items: center;
  background-color: #ffefdb;
  border-bottom: 1px solid rgb(200, 200, 200);
  box-sizing: border-box;
  overflow: hidden;
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  padding-left: 0;
}

.container li {
  margin-left: 1rem;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home {
  display: flex;
}

.signInUp {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .container ul {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .container ul {
    font-size: 12px;
  }
}
