/* @font-face {
  font-family: DS-DIGII;
  src: url("/fonts/DS-DIGII.TTF");
} */

/* .currentTime {
  text-align: center;
} */

.elementContainer {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .addAlarmLink {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 10px;
} */

/* .activeAlarm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .alarmName {
  font-size: 24px;
} */

/* .alarmInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

.alarmInfo p {
  font-size: 2rem;
}

.snoozeNotice {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #dd7e5e;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
} */
