.pageWrapper {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

  padding: 20px;
  background-color: #d9cac7;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.824);
}
.header {
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.message {
  text-align: center;
  color: #e63946;
  font-size: 1.5rem;
  margin: 0 0 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 75%;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field label {
  color: #444;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 30px;
}

.submitBtn {
  background-color: #31364c;
  color: white;
}

.submitBtn:hover {
  background-color: #606992;
}

.submitBtn:disabled {
  background-color: #b4adad;
  color: black;
  cursor: not-allowed;
}

.submitBtn:disabled:hover {
  background-color: #b4adad;
  color: black;
  cursor: not-allowed;
  border: none;
}

.cancelBtn {
  background-color: #31364c;
  color: white;
  border: none;
}

.cancelBtn:hover {
  background-color: #606992;
}
