.themeButton {
  background-color: #e3997f;
  font-size: 1em;
  width: 170px;
  color: #31364d;
}

.themeButton:hover {
  background-color: #e2ad9a;
}

@media (max-width: 768px) {
  .themeButton {
    font-size: 14px;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .themeButton {
    width: 140px;
  }
}
