@font-face {
  font-family: DS-DIGII;
  src: url("/fonts/DS-DIGII.TTF");
}

.clockContainer {
  display: flex;
  flex-direction: column;
  font-family: DS-DIGII;
  align-items: center;
  font-size: 64px;
  font-weight: 500;
  width: 400px;
  border: 2px solid black;
  padding-bottom: 10px;
  background-color: black;
  color: red;
  border-radius: 5px;
  opacity: 0.8;
}
